:root {
  --main-bg: #1A2F4B;
  --main-clr: #F5EDED;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#i-am-root {
  height: 100%;
  color: var(--main-clr);
  background-color: var(--main-bg);
}
