@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto&display=swap');

:root {
  --main-bg: #1A2F4B;
  --main-clr: #F5EDED;
  --body-font: "Roboto", sans-serif;
  --special-font: "Mynerve", cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#i-am-root {
  height: 100%;
}

body {
  font-size: 1.3rem;
  color: var(--main-clr);
  font-family: var(--body-font);
  background-color: var(--main-bg);
}

#joke {
  font-family: var(--special-font);
}
